{% extends '_base.html' %}


{% block page_title %}دریافت اکانت {% endblock %}


{% block page_content %}

<main class="flex items-center justify-center min-h-screen p-4">
    <div class="max-w-md w-full bg-slate-800 rounded-2xl shadow-2xl p-6 border border-white/10">
        <div class="bg-slate-700/60 rounded-xl p-4 border-l-4 border-blue-500 shadow-inner hover:bg-slate-700/80 transition-colors">
            <p class="text-slate-200 text-sm md:text-base leading-relaxed break-all">
                <a href="
                     {% if test_link %}
                    {{ test_link }}
                    {% else %}
                    {{ user_exist_sub_link }}
                    {% endif %}" target="_blank" class="text-blue-400 hover:underline">
                    {% if test_link %}
                    {{ test_link }}
                    {% else %}
                    {{ user_exist_sub_link }}
                    {% endif %}
                </a>
            </p>
        </div>
        {% if user_subscription %}
        <p class="mt-4 text-slate-300 text-sm md:text-base leading-relaxed">
                    <b>با تشکر از اعتماد شما،</b>
            این لینک برای استفاده از سرویس VPN شماست.
            کافیست روی لینک کلیک کنید تا وارد شوید.
            سرعت بالا، امنیت کامل، و اتصال پایدار را تجربه کنید.
            در صورت نیاز، متن آموزشی زیر را مطالعه کنید.
        </p>
        {% elif test_link %}
        <p class="mt-4 text-slate-300 text-sm md:text-base leading-relaxed">
                    <b>اشتراک تست شما آمادست!،</b>
            این لینک برای استفاده از سرویس  تست VPN شماست.
            کافیست روی لینک کلیک کنید تا وارد شوید.
            سرعت بالا، امنیت کامل، و اتصال پایدار را تجربه کنید.
            در صورت نیاز، متن آموزشی زیر را مطالعه کنید.
        </p>
        {% elif user_exist_sub_link %}
                <p class="mt-4 text-slate-300 text-sm md:text-base leading-relaxed">
                    <b>کاربر گرامی شما قبلا یکبار اکانت تست خود را دریافت کرده اید،</b>
            این لینک قدیمی سرویس  تست VPN شماست و فقط در صورتی که اکانت منقضی نشده باشد قابل استفاده است.
            کافیست روی لینک کلیک کنید تا وارد شوید.
            سرعت بالا، امنیت کامل، و اتصال پایدار را تجربه کنید.
            در صورت نیاز، متن آموزشی زیر را مطالعه کنید.
        </p>
        {% endif %}
              <a href="   {% if test_link %}
                    {{ test_link }}
                    {% else %}
                    {{ user_exist_sub_link }}
                    {% endif %}" class="mt-6 block w-full text-center bg-blue-500 hover:bg-blue-600 transition-colors text-white font-semibold py-2 rounded-lg">
            ورود به پنل کاربری
        </a>

        <div class="mt-6 text-slate-400 text-sm space-y-2">
            <p>۱. روی لینک بالا کلیک کنید تا ساب شما باز شود.</p>
            <p>۳. بعد از ورود، می‌توانید وضعیت اتصال و حجم باقی مانده خود را مشاهده کنید.</p>
            <p>۴. هر زمان که نیاز داشتید، می‌توانید اتصال خود را قطع و دوباره وصل کنید.</p>
            <p>۵. در صورت مشکل در اتصال از بخش <a href="{% url 'contact' %}"  class='text-blue-500 hover:text-blue-700 font-medium transition'>تماس با ما</a> با تیم پشتیبانی ما در ارتباط باشید.</p>
        </div>
    </div>
</main>


{% endblock %}